*{
  margin: 0;
  padding: 0;
}
div{
  margin: 0;
  padding: 0;
}
body{
  background: rgb(255, 255, 255);
}
.background{
  background: rgb(255, 255, 255);
}
.header{
  text-align: center;
}
.homepage{
  height: 80vh;
}